* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.text {
  position: absolute;
  width: 264px;
  height: 405px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 65px;
  color: #0026ED;
  font-family: 'Finger Paint', cursive;
  
}

.block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-top: 75px;
  flex-wrap: wrap;
}

.box {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  border: 10px solid #000000;

}


.X {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  color: #FF0505;
  font-weight: 400;
  font-size: 60px;
  line-height: 94px;
  border: 10px solid #000000;
  font-family: 'Finger Paint', cursive;
}

.X:Hover {
  background-color: #FF0505;
  color: white;
}

.O:Hover {
  background-color: #0026ED;
  color: white;
}

.O {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  color: #0026ED;
  font-weight: 400;
  font-size: 64px;
  line-height: 94px;
  border: 10px solid #000000;
  font-family: 'Finger Paint', cursive;
}


.box:hover {
  background-color: #cac8c8;

}

.winX {
  border: 10px solid #FF0505;
  background: #FFFFFF;
} 

.winO {
  border: 10px solid #0026ED;
  background: #FFFFFF;
}
